$textcolor: #fff;
$secondaryTextColor: #000;

$bg-light: #ececec;
$bg-steel1: #4682b4;
$bg-steel2: #1a2b3c;
$bg-birthday1: #0f0a35; /*rgb(15.10,53)*/
$bg-infos: #f5e023;
$yellow: rgb(248, 224, 9);

$blue1: rgb(12, 6, 53);
$blue2: rgb(10, 10, 126);
$blue3: rgb(53, 53, 179);
